services:
  - type: web
    name: imgpipe-api
    env: node
    buildCommand: npm install
    startCommand: npm run server
    envVars:
      - key: NODE_ENV
        value: production
    autoDeploy: true
